<div id="adminSidebar" class="bg-white border-end p-3" style="width:240px; min-height: calc(100vh - 56px);">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link active" href="#" data-page="dashboard">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" href="#" data-page="send">Kirim</a></li>
    <li class="nav-item"><a class="nav-link" href="#" data-page="send-media">Kirim Media</a></li>
    <li class="nav-item"><a class="nav-link" href="#" data-page="contacts">Kontak</a></li>
    <li class="nav-item"><a class="nav-link" href="#" data-page="users">Users</a></li>
    <li class="nav-item"><a class="nav-link" href="#" data-page="logs">Logs</a></li>
  </ul>

  <div class="mt-4">
    <button id="btn-logout-side" class="btn btn-outline-danger w-100 btn-sm">Logout</button>
  </div>
</div>
